[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/taluopaibing
[access "refs/for/refs/*"]
	read = group user/taluopaibing
	push = group user/taluopaibing
	label-Code-Review = -2..+2 group user/taluopaibing
	label-Verified = -1..+1 group user/taluopaibing
	rebase = group user/taluopaibing
	removeReviewer = group user/taluopaibing
	submit = group user/taluopaibing
[access "refs/heads/*"]
	read = group user/taluopaibing
	create = group user/taluopaibing
	push = +force group user/taluopaibing
	pushMerge = group user/taluopaibing
[access "refs/tags/*"]
	push = group user/taluopaibing
	push = +force group user/taluopaibing
